:root {
  
  --color-primary: #0073ff;
  --color-white: #e9e9e9;
  --color-black: rgba(26, 21, 21, 0.932);
  --color-black-1: #6885aa;
}

* {
 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}


.logo {
  color: var(--color-white);
  font-size: 30px;
}

.logo span {
  color: var(--color-primary);
}

.menu-bar {
  background-color: var(--color-black);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;

  position: relative;
}


.menu-bar ul {
  list-style: none;
  display: flex;
}

.menu-bar ul li {
  /* width: 120px; */
  padding: 10px 30px;
  /* text-align: center; */

  position: relative;
}

.menu-bar ul li a {
  font-size: 20px;
  color: var(--color-white);
  text-decoration: none;

  transition: all 0.3s;
}

.menu-bar ul li a:hover {
  color: var(--color-primary);
}

.fas {
  
  margin-left: 10px;
  padding-top: 3px;
}

/* dropdown menu style */
.dropdown-menu {
  display: none;
}

.menu-bar ul li:hover .dropdown-menu {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--color-black);
}

.menu-bar ul li:hover .dropdown-menu ul {
  display: block;
  margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
  width: 150px;
  padding: 10px;
}

.dropdown-menu-1 {
  display: none;
}

.dropdown-menu ul li:hover .dropdown-menu-1 {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: var(--color-black);
}

.hero {
  height: calc(100vh - 80px);
  background-image: url(./bg.jpg);
  background-position: center;
}
.bott{

border-bottom: 1px solid;
bottom: 0;

display:cover;
}
.footer{
  background-color: black;
padding-left: 0px ;
 padding-bottom: 0px;
}
.footer-title{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 50px;
}
.footer ul li{
  list-style:none;
  padding-top: 3px;
  
}
.social{
  padding-right: 10px;
  padding-top: 10px;
  align-content: right;
  padding-bottom: 5px;
background:#d42828;
}

.pb-5, .py-5 {
  padding-bottom: 0rem!important;
  padding-top: 0rem!important;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}
footer {
  background-color: rgb(34, 35, 31);
  width: 100%;
  color: white;
  padding-top: 30px;
  padding-bottom: 1px;
}
.footer_Content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 8em;
}
.footer_Content>div {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.footer_About>p {
  margin-right: 5em;
  color: rgb(173, 169, 169);
  font-size: 19px;
}
.footer_Links>a {
  font-weight: bold;
  font-size: 19px;
  padding: 8px 0px;
  color: rgb(173, 169, 169);
  transition: .5s;
}
.footer_Links>a:hover {
  color: dodgerblue;
  transition: .5s;
}
.footer_Contact>p {
  color: rgb(173, 169, 169);
  font-size: 19px;
}
.footer_Contact>p>i {
  color: blueviolet;
  padding-right: 10px;
}
.footer_Contact>div {
  margin: 20px 0px;
}
.footer_Contact>div>a {
  font-size: 18px;
  padding: 10px;
  margin: 5px;
  color: black;
  border: 1px solid white;
  background-color: white;
  border-radius: 50px;
  transition: .7s;
}
.footer_Contact>div>a:hover {
  background-color: transparent;
  color: blueviolet;
  transition: .7s;
}
footer>p {
  font-size: 19px;
  text-align: center;
  padding-top: 30px;
}
footer>p>i {
  color: red;
}
footer>p>a {
  color: blueviolet;
  transition: .5s;
}
footer>p>a:hover {
  color: white;
  transition: .5s;
}